
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="content-header">
    <h1>Index</h1>
</div>

<section class="content">
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
</section>
